@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('/LogosImagenes/fondoDegrade01.png') center/cover no-repeat;
  backdrop-filter: blur(10px);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}
