@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

body.with-png {
  background-image: url('/LogosImagenes/fondoDegrade01.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Títulos con gradiente para cajas blancas */
.gradient-title {
  @apply bg-gradient-to-b from-mr-primary to-mr-secondary text-transparent bg-clip-text;
}

/* Títulos blancos con sombra violeta */
.white-title {
  @apply text-white;
  text-shadow: 0 1px 2px #6269C4; /* Sombra violeta */
}
.gradient-vertical {
  background: linear-gradient(to bottom, #25D366, #800080);
}